@function gray($color) {
  @return rgb($color, $color, $color);
}

.timer {
  // background: linear-gradient(to bottom right, rgba(2, 99, 225, 1), rgba(235, 24, 54, 1));
  // border-radius: 22px;

  .timer-text {
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    // margin: 4px;
    padding: 0px 20px;

    .timer-char {
      height: 40px;
      position: relative;
      text-align: center;
      width: 40px;

      &.colon {
        color: black;
        font-size: 1em;
        line-height: 40px;
      }

      .timer-char-slider {
        display: flex;
        flex-direction: column;
        left: 0px;
        position: absolute;
        top: 0px;
        transition: top 200ms;
        width: 40px;

        .timer-char-slider-option {
          color: black;
          font-size: 0.5em;
          height: 40px;
          line-height: 40px;
          opacity: 0.05;
          transition: opacity 400ms, font-size 400ms;
          width: 40px;

          &.active {
            font-size: 1em;
            opacity: 1;
          }

          // &.active + span {
          //   color: red;
          //   opacity: 1;
          // }
          &:not(.active) {
            visibility: hidden;
          }
        }
      }
    }
  }
}

// @media (max-width: 800px) {
//   .timer {
//     border-radius: 16px;

//     .timer-text {
//       border-radius: 14px;
//       margin: 4px;
//       padding: 0px 12px;

//       .timer-char {
//         height: 80px;
//         width: 40px;

//         &.colon {
//           font-size: 4em;
//           line-height: 80px;
//         }

//         .timer-char-slider {
//           width: 40px;

//           .timer-char-slider-option {
//             font-size: 2em;
//             height: 80px;
//             line-height: 80px;
//             width: 40px;

//             &.active {
//               font-size: 4em;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 400px) {
//   .timer {
//     border-radius: 8px;

//     .timer-text {
//       border-radius: 6px;
//       margin: 2px;
//       padding: 0px 10px;

//       .timer-char {
//         height: 40px;
//         width: 20px;

//         &.colon {
//           font-size: 2em;
//           line-height: 40px;
//         }

//         .timer-char-slider {
//           width: 20px;

//           .timer-char-slider-option {
//             font-size: 1.25em;
//             height: 40px;
//             line-height: 40px;
//             width: 20px;

//             &.active {
//               font-size: 2em;
//             }
//           }
//         }
//       }
//     }
//   }
// }
